h1,p,li{
	font-size: 15px;
	font-family:Arial;

}
.menu{
	overflow: hidden;
	list-style-type: none;
	padding: 0;
	margin: 0;
	background-color: #333;
}
.item{
	float: left;
	margin-right: 6%;
	align-content: center;	
}
.linkItem{
	display: block;
  	color: white;
  	text-align: left;
  	padding: 14px 16px;
  	text-decoration: none;
}
.active{
	background-color: #19FF15;
}
h1 {
	text-align: center;
	font-size: 25px;
}
.implantation{
	text-align: left;
}
.formulaire{
	text-align: left;
}
.logo{
	width: 200px;
	align-content: center;
	margin-left: 15%;
	display: flex;

}
li{
	text-align: left;
}
.image{
	width: 100%;
	height: auto;
}
.produit{
	width: 100%;
	height: auto;
}
body{
	margin-left: 20%;
	margin-right: 20%;
}
.image1{
	width: 500px;
	height: 500px;
}
.image2{
	width: 500px;
	height: 500px;
}
.image3{
	width: 500px;
	height: 500px;
}
.image4{
	width: 500px;
	height: 500px;
}
article{
	font-family: Arial;
	font-size: 15px;
}
a:hover{
	color: #334CFF;
}
.box1{
	width: 100px;
	height: 100px;
	display: inline-block;
	background-color: brown;
	position: relative;
}
.box2{
	width: 100px;
	height: 100px;
	display: inline-block;
	background-color: green;
	position: relative;
}
.box3{
	width: 100px;
	height: 100px;
	display: inline-block;
	background-color: blue;
	position: relative;
}
.boxes{
	margin: 50px,50px;
}
p{
	text-align: center;
}
#facebook,#linkedin{
	align-content: center;
}
.actu{
	width: 600px;
	height: 600px;
	margin-left: 10%;
	align-content: center;
	font-family: Arial;
}
.contactForm{
	display: grid;
	margin: 20%, 20%;
}
.form{
	text-align: left;
}
.content{
	align-content: center;
}
input{
	width: 25%;
}
.submit{
	width: 10%;
}
